@model ArtGallery2.Models.ViewModels.ShowImage

<div>
    <h3>Image Added</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor( model => model.showImages.piece.pieceName )
        </dt>

        <dd>
            @Html.DisplayFor( model => model.showImages.piece.pieceName )
        </dd>
        <dt>
            @Html.DisplayNameFor( model => model.image.imagePath )
        </dt>

        <dd>
            @Html.DisplayFor( model => model.image.imagePath )
        </dd>
    </dl>
    <div class="imagecontainer featured">
        <img src="@Model.image.imagePath" />
    </div>
    <div>
        @foreach( var image in Model.showImages.images ) {
            <div class="imagecontainer">
                <img src="@image.imagePath" />
                @Html.ActionLink( "Show Image", "Details", new {
                    id = image.imageId
                } )
            </div>
        }
    </div>

</div>
<p>
    @Html.ActionLink( "Back to Images", "Images", new {
        id = Model.showImages.piece.pieceId
    } ) |
    @Html.ActionLink( "Back to Piece", "Images", new {
        id = Model.showImages.piece.pieceId
    } )
</p>

