@model ArtGallery2.Models.ViewModels.ShowImages
<div class="imagesContent">

    <h3>@Model.piece.pieceName</h3>

    @if( Model.images.Count() == 0 ) {
        <p>There are no images for this piece.</p>
    } else {
        <div class="featuredImageDiv">
            @foreach( var image in Model.images ) {
                if( image.isMainImage ) {
                    var source = "https://localhost:44338/Content/Images/" + image.imageName + "." + image.imageExt;

                    <div class="imageDiv ">
                        <img src="@source" />
                    </div>
                }
            }
        </div>
        <div class="imagesDiv">
            @foreach( var image in Model.images ) {
                if( !image.isMainImage ) {
                    var source = "https://localhost:44338/Content/Images/" + image.imageName + "." + image.imageExt;
                    <div class="imageDiv">
                        <img src="@source" />
                        <div class="actionLinksDiv imageActions">
                            @Html.ActionLink( "Edit", "Edit", new {
                                id = image.imageId
                            } ) |
                            @Html.ActionLink( "Details", "Details", new {
                                id = image.imageId
                            } ) |
                            @Html.ActionLink( "Delete", "DeleteConfirm", new {
                                id = image.imageId
                            } )
                        </div>
                    </div>
                }
            }
        </div>
    }

    <div class="actionLinksDiv imagesNavActions">
        @Html.ActionLink( "Back to Details", "../Piece/Details", new {
             id = Model.piece.pieceId
         } ) 
        <div class="buttonAction">
            @Html.ActionLink( "Add Image", "Create", new {
                 id = Model.piece.pieceId
             } )
        </div>
    </div>
</div>
