@model ArtGallery2.Models.ViewModels.ShowPiece

@{
    ViewBag.Title = "View";
}

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>@Model.piece.pieceName</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor( model => model.form.formName )
        </dt>

        <dd>
            @Html.DisplayFor( model => model.form.formName )
        </dd>

        <dt>
            @Html.DisplayNameFor( model => model.piece.pieceDescription )
        </dt>

        <dd>
            @Html.DisplayFor( model => model.piece.pieceDescription )
        </dd>

        <dt>
            @Html.DisplayNameFor( model => model.piece.length )
        </dt>

        <dd>
            @Html.DisplayFor( model => model.piece.length )
        </dd>

        <dt>
            @Html.DisplayNameFor( model => model.piece.width )
        </dt>

        <dd>
            @Html.DisplayFor( model => model.piece.width )
        </dd>

        <dt>
            @Html.DisplayNameFor( model => model.piece.height )
        </dt>

        <dd>
            @Html.DisplayFor( model => model.piece.height )
        </dd>

        <dt>
            @Html.DisplayNameFor( model => model.piece.piecePrice )
        </dt>

        <dd>
            @Html.DisplayFor( model => model.piece.piecePrice )
        </dd>

    </dl>

    @using( Html.BeginForm( "Delete", "Piece", new {
        id = Model.piece.pieceId
    } ) ) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink( "Back to List", "List" )
        </div>
    }
</div>
